@import "tailwindcss";

:root {
    --font-main: 'Inter', system-ui, sans-serif;
    --bg-body: #f8fafc;        
    --bg-card: #ffffff;
    --text-main: #000000;      
    --border: #e2e8f0;       
}

body {
    font-family: var(--font-main);
   /* background-color: var(--bg-body);*/
    color: var(--text-main);
}