@import "tailwindcss";

@theme {
    /* --- PALETA MARFIL --- */
    
    /* 1. Fondo general de la web */
    --color-background: #f0eeee;

    /* 2. Color del texto principal */
    --color-foretext: #292524;

    /* 3. Tarjetas  */
    --color-card: #ffffff;
    --color-card-text: #292524; /* Mismo que foretext o un poco más suave luego */

    /* 4. Navbar  */
    --color-navbar: #e7e5e4;
    --color-navbar-text: #1c1917;

    /* 5. Footer  */
    --color-footer: #e7e5e4;
    --color-footer-text: #44403c; /* Un poco más suave que el título */

    /* 6. Bordes sutiles  */
    --color-border: #d6d3d1;
    
    /* Fuentes */
    --font-main: "Inter", system-ui, sans-serif;
}

/* Aplicación global por defecto */
body {
    background-color: var(--color-background);
    color: var(--color-foretext);
}